.JoinPage{
    /* background-color: black; */
    background-image: url(../../images/saurabh.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    position:fixed;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    width: 10vmax;
}

.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#JoinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}

.Joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    color: white;
    font-family: "Roboto";
    font-size: 1.2vmax;
    background-color: #0f80dd;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.Joinbtn:hover{
    background-color: #0400f3;
}

.animated-text.left-corner {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration-style: solid;
    text-align: center;
    font-size: 50px;
    margin-right: 70%;
    color: aliceblue;
    position: absolute;
    top: 20px; /* Adjust this value to change the vertical position */
    left: 20px; /* Adjust this value to change the horizontal position */
    z-index: 2; /* Ensure the text is above other elements */
  }
  @media (max-width: 768px) {
    .animated-text.left-corner{
      font-size: 18px; /* Adjust the font size for mobile devices */
    }
  }
  