body {
    margin: 0;
  }
  
  /* Default font size for larger screens */
  .animated-text {
    font-size: 24px;
  }
  
  /* Adjust font size for smaller screens, like mobile devices */
  @media (max-width: 768px) {
    .animated-text {
      font-size: 18px; /* Adjust the font size for mobile devices */
    }
  }
  
  /* Media Query for screens with max aspect ratio of 7/10 */
  @media (max-aspect-ratio: 7/10) {
    .JoinPage {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  
    .JoinContainer {
      margin-top: 10vw; /* Use a relative unit like vw instead of !important */
      width: 100%;
    }
  
    .JoinContainer > img {
      width: 30vw;
    }
  
    .JoinContainer > h1 {
      font-size: 6vw;
      width: 65vw;
      border-bottom: 0.6vw solid white;
      padding: 3vw;
    }
  
    #JoinInput { /* Note: Corrected the ID selector name */
      width: 65vw;
      padding: 4vw;
      font-size: 5vw;
      margin: 5vw;
    }
  
    .Joinbtn {
      width: 65vw;
      padding: 4vw;
      font-size: 5vw;
    }
  
    .chatContainer {
      background-color: white;
      height: 100%;
      width: 100%;
    }
  
    .header {
      height: 10%;
    }
  
    .header > h2 {
      margin: 2vw; /* Adjusted margin for better spacing */
      font-size: 5vw;
    }
  
    .header img {
      margin: 1vw; /* Adjusted margin for better spacing */
      transform: scale(2);
    }
  
    .header > img:hover {
      transform: scale(3.2);
    }
  
    .chatBox {
      height: 80%;
    }
  
    .inputBox {
      height: 10%;
    }
  
    #chatInput {
      padding: 4vw;
      font-size: 4vw;
    }
  
    .messageBox {
      padding: 3vw;
      margin: 1vw; /* Adjusted margin for better spacing */
      border-radius: 1.5vw;
      font-size: 3.7vw;
    }
  }
  